In [7]:
import numpy as np 
import pandas as pd

# Dataset

In [9]:
df = pd.read_csv("drug.csv")
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [11]:
df.describe()

              Age     Na_to_K
count  200.000000  200.000000
mean    44.315000   16.084485
std     16.544315    7.223956
min     15.000000    6.269000
25%     31.000000   10.445500
50%     45.000000   13.936500
75%     58.000000   19.380000
max     74.000000   38.247000

In [12]:
df.shape

(200, 6)

# Encoding Values :

In [13]:
df["Sex"].value_counts()

M    104
F     96
Name: Sex, dtype: int64

In [14]:
def encoder(df):
    if df == "M":
        return 1
    else:
        return 0

df['Sex'] = df['Sex'].apply(encoder)

In [15]:
df["BP"].value_counts()

HIGH      77
LOW       64
NORMAL    59
Name: BP, dtype: int64

In [16]:
def encode(df):
    if df == "LOW":
        return 0
    elif df == "NORMAL":
        return 1
    else : return 2
    
df['BP'] = df['BP'].apply(encode)

In [17]:
df["Cholesterol"].value_counts()

HIGH      103
NORMAL     97
Name: Cholesterol, dtype: int64

In [18]:
def encoder(df):
    if df == "HIGH":
        return 1
    else:
        return 0

df['Cholesterol'] = df['Cholesterol'].apply(encoder)

In [19]:
df['Drug'].value_counts()

DrugY    91
drugX    54
drugA    23
drugC    16
drugB    16
Name: Drug, dtype: int64

In [20]:
def encoder(df):
    if df == "DrugX":
        return 0
    elif df == "DrugY":
        return 1
    elif df == "DrugA":
        return 2
    elif df == "DrugB":
        return 3
    else:
        return 4

df['Drug'] = df['Drug'].apply(encoder)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    int64
 2   BP           200 non-null    int64
 3   Cholesterol  200 non-null    int64
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 9.5 KB

# Splitting The Data

In [22]:
X = df.drop("Drug", axis = 1)
y = df['Drug']

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

# Random Forest Classifier

In [24]:
from sklearn.ensemble import RandomForestClassifier

RFC = RandomForestClassifier()

RFC.fit(X_train, y_train)

RandomForestClassifier()

In [25]:
preds = RFC.predict(X_test)

from sklearn.metrics import classification_report,accuracy_score

print(classification_report(preds,y_test))

print(accuracy_score(preds,y_test) * 100)

              precision    recall  f1-score   support

           1       1.00      0.96      0.98        27
           4       0.97      1.00      0.99        33

    accuracy                           0.98        60
   macro avg       0.99      0.98      0.98        60
weighted avg       0.98      0.98      0.98        60

98.33333333333333

## 98% accuracy model.

In [26]:
import joblib

joblib.dump(RFC, 'drug.pkl')

['drug.pkl']

In [27]:
model = joblib.load('drug.pkl')

In [30]:
model.predict([[0,0,0,0,0]])

array([4], dtype=int64)